<h1><%= current_user.username %>'s Books</h1>

<ul>


    <% @books.each do |book| %>

      
        <a href="/books/<%= book.id %>">
          <%= image_tag @book.image.url %>
        </a>

    <% end %>

</ul>