<h2> Welcome to Readr//Meetr</h2>
<h3>A place for readers to meet other readers and share their love of books.</h3>
 <footer>This app was made to satisfy Rails Project requirements for Rails module for FlatIron School</footer>